<% if current_user %>
  <div class="menu">
    <%= render :partial => "users/digest", :locals => {:user =>current_user} %>
    <% current_user.menus.each do |menu|%>
      <h4><%= menu.name %>(<%= menu.recipes.count %>)</h4>
      <%= render :partial => "entry", :collection => menu.recipes %>
    <% end %>
  </div>
<% end %>
