<% if current_user %>
  <div class="menu">
    <%= render :partial => "users/digest", :locals => {:user =>current_user} %>
    <h4>To Make</h4>
    <div id="menu" class="to-make">
    </div>
  </div>
<% end %>
