<% if current_user %>
  <div id="menu" class="menu">
    <%= render :partial => "users/digest", :locals => {:user =>current_user} %>
    <div class="to-make">
      <h4>To Make</h4>
    </div>
  </div>
<% end %>
