<div class="entry clearfix">
  <div class="content">
    <h5><%= link_to entry.name , recipe_path(entry) %></h5>
    <p>
      <%= entry.description %>
    </p>
  </div>
  <%= button_to "delete",entry_path(entry),:method => :delete ,:class =>"delete-button" %>
</div>
