<%= render "shared/action_bar" %>

<div class="menu">
  <select>
    <option>To make (5)</option>
    <option>Japanese (50)</option>
    <option>Pasta (100)</option>
  </select>
  <%= render :partial => "entry", :collection => current_user.entries %>
</div>

<div class="recipes">
  <%= link_to "<= back to recipes" , root_path %>
  <%= render @recipe %>
</div>
