<div class="user">
  <%= gravatar_for user, :size => 40 %>
  <div class="content">
    <h5><%= link_to user.name,user_path(user) %></h5>
    <div>
      <%= pluralize(user.followers.count,"follower") %>
    </div>
    <div>
      <%= pluralize(user.recipes.count,"recipe") %>
    </div>
  </div>
</div>
