<div class="actions clearfix">
  <% if action == :show %>
  <div class="button_to">
    <input type="submit" value="<=" onclick="history.back()"/>
  </div>
  </form>
  <% end %>
  <%= button_to "Post", new_recipe_path , method: :get %>
  <%= button_to "Users", users_path , method: :get %>
</div>
<div class="clearfix"></div>
