<div class="actions clearfix">
  <%= button_to "Post", new_recipe_path ,:method =>:get %>
  <div>
    <%= button_to "Tags", users_path ,:method =>:get %>
  </div>
  <div>
  <%= button_to "Users", users_path ,:method =>:get %>
  </div>
</div>
