<div class="actions clearfix">
  <% if action == :show %>
  <div class="button_to">
    <input type="submit" value="<=" onclick="history.back()"/>
  </div>
  </form>
  <% end %>
</div>
<div class="clearfix"></div>
