<% unless current_user.liked?(feed) %>
  <%= form_for Entry.new(:menu_id => current_user.to_make.id,:recipe_id => feed.id) do |f| %>
    <div><%= f.hidden_field :recipe_id %></div>
    <div class="actions"><%= f.submit "like" %></div>
  <% end %>
<% end %>
