<% if current_user %>
  <div class="menu">
    <%= select_tag(:category, options_for_select(["To make","Favorite","Test"])) %>
    <%= render :partial => "entry", :collection => current_user.to_make %>
  </div>
<% end %>
