@import 'compass/reset';

h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:18px;}
h1,h2,h3,h4,h5,h6{
  font-weight:bold;
}

a{
  text-decoration:none;
}

body{
  font: 14px helvetica,arial,freesans,clean,sans-serif;
  line-height:1.2;
}

footer{
  margin: 0 auto;
  text-align: center;
}

.clearfix{
  &:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    zoom:1;
  }
}
