@import 'compass/utilities/general';

header{
  @include clearfix;
  background:#3FB6A5;
  background: -webkit-gradient(linear,left top,left bottom,
              from(#3FB6A5),to(#42B6A5));
  height:41px;
  width:100%;
  z-index: -1;
  .content{
    width:1000px;
    margin:0 auto;
  }
  h1{
    float:left;
    a{
      color:white;
      text-decoration:none;
    }
  }
  .search-form{
    float:left;
    margin:6px;
    input{
      padding:6px 25px 4px 6px;
      width:180px;
    }
  }

  .jewel{
    float:left;
    line-height:41px;
  }

  nav{
    padding:12px;
    float:right;
  }
  .user{
    float:right;
  }
}
