.menu{
  float:left;
  width:190px;
  padding:14px;
  margin-right:20px;
  border-right:1px green solid;
}
.recipes{
  float:left;
  width:740px;
  padding:10px;
  border-radius: 10px;
}

.entry{
  position:relative;
  h4 a{
    color:green;
  }
  .photo{
    float:left;
    img{width:90px;}
  }
  .content{
    float:left;
    padding:5px;
    width:90px;
    word-wrap:break-word;
  }
  .delete-button{
    position:absolute;
    right:0;
    top:0;
    display:none;
  }
  &:hover{
    background-color:#EEEEEE;
    .delete-button{
      display:block;
    }
  }
}

.feed{
  padding:10px;
  border-bottom:1px green solid;
  h3 a{
    color:green;
  }

  .main-photo{
    float:left;
    padding-right:5px;
    margin-right:10px;
  }
}

.recipe{
  padding:5px;
  .main-photo{
    padding:5px;
    float:left;
    border:1px green solid;
    border-radius:10px;
  }
  .description{
    padding:5px;
    width:400px;
    float:left;
  }
  li{
    display:block;
    padding:5px;
    margin:5px;
  }
  .instructions{
    font-size:20px;
    ol li{
      display:list-item;
      list-style: decimal inside;
      border-bottom:1px green solid;
      margin:5px;
      padding:5px;
    }
    ul li{
      background:#FFDFFF;
      border-radius:10px;
    }
  }
  p{padding:5px;}
}
